Repository Autodesk/maya-hydra, pull requests merged in 2023-11, with the labels that each got.

#7 HYDRA-612 : Support USD v23.11
  CMakeLists.txt
  cmake/compiler_config.cmake
  cmake/modules/FindMaya.cmake
  cmake/python.cmake
Labels: ready-for-merge, core

#2 HYDRA-500 : Fix directional and default lights not working.
  lib/mayaHydra/hydraExtensions/adapters/directionalLightAdapter.cpp
  lib/mayaHydra/hydraExtensions/adapters/lightAdapter.cpp
  lib/mayaHydra/hydraExtensions/hydraUtils.cpp
  lib/mayaHydra/hydraExtensions/hydraUtils.h
  lib/mayaHydra/mayaPlugin/renderOverride.cpp
  test/lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/DirectionalLightsTest/defaultLightFit.png
  test/lib/mayaUsd/render/mayaToHydra/DirectionalLightsTest/directionalLight.png
  test/lib/mayaUsd/render/mayaToHydra/DirectionalLightsTest/directionalLightFit.png
  test/lib/mayaUsd/render/mayaToHydra/testDirectionalLights.py
  test/testSamples/testDirectionalLights/UsdStageWithSphereMatXStdSurf.ma
  test/testSamples/testDirectionalLights/UsdStageWithSphereMatXStdSurf.usd
Labels: ready-for-merge, fvp-toolkit

#9 Tremblp/hydra 567/flow selection GitHub
  doc/selectionHighlightingArchitecture.md
  lib/flowViewport/sceneIndex/CMakeLists.txt
  lib/flowViewport/sceneIndex/fvpPassThroughSelectionInterfaceSceneIndex.cpp
  lib/flowViewport/sceneIndex/fvpPassThroughSelectionInterfaceSceneIndex.h
  lib/flowViewport/sceneIndex/fvpSelectionInterface.h
  lib/flowViewport/sceneIndex/fvpSelectionSceneIndex.cpp
  lib/flowViewport/sceneIndex/fvpSelectionSceneIndex.h
  lib/flowViewport/sceneIndex/fvpWireframeSelectionHighlightSceneIndex.cpp
  lib/flowViewport/sceneIndex/fvpWireframeSelectionHighlightSceneIndex.h
  lib/flowViewport/selection/CMakeLists.txt
  lib/flowViewport/selection/fvpSelection.cpp
  lib/flowViewport/selection/fvpSelection.h
  lib/flowViewport/selection/fvpSelectionFwd.cpp
  lib/flowViewport/selection/fvpSelectionFwd.h
  lib/mayaHydra/mayaPlugin/renderOverride.cpp
  lib/mayaHydra/mayaPlugin/renderOverride.h
Labels: ready-for-merge, core, fvp-toolkit, sceneindex

#11 Rename docs mentioning Flow Viewport Library to Flow Viewport Toolkit
  doc/selectionHighlightingArchitecture.md
  lib/flowViewport/CMakeLists.txt
Labels: documentation, ready-for-merge

#15 HYDRA-688 : Fix scene browser test
  lib/adskHydraSceneBrowser/test/adskHydraSceneBrowserTestFixture.cpp
Labels: ready-for-merge, test

#14 HYDRA-687 : Fix test for UFE lights from MayaUSD
  test/lib/mayaUsd/render/mayaToHydra/cpp/testMayaUsdUfeItems.cpp
Labels: ready-for-merge, test

#16 C++ 17, forward pointer declarations, and method naming.
  doc/codingGuidelines.md
Labels: ready-for-merge

#20 HYDRA-703 : Fix mesh adapter transform update
  lib/mayaHydra/hydraExtensions/adapters/cameraAdapter.cpp
  lib/mayaHydra/hydraExtensions/adapters/dagAdapter.cpp
  lib/mayaHydra/hydraExtensions/adapters/lightAdapter.cpp
  lib/mayaHydra/hydraExtensions/mayaHydraLibInterface.h
  lib/mayaHydra/hydraExtensions/mayaHydraSceneProducer.cpp
  lib/mayaHydra/hydraExtensions/mayaHydraSceneProducer.h
  lib/mayaHydra/hydraExtensions/sceneIndex/mayaHydraSceneIndex.cpp
  lib/mayaHydra/hydraExtensions/sceneIndex/mayaHydraSceneIndex.h
  lib/mayaHydra/mayaPlugin/renderOverride.cpp
  test/lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/cpp/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/cpp/testMeshAdapterTransform.cpp
  test/lib/mayaUsd/render/mayaToHydra/cpp/testMeshAdapterTransform.py
  test/lib/mayaUsd/render/mayaToHydra/cpp/testUtils.h
Labels: bug, ready-for-merge, test
