Repository Autodesk/maya-hydra, pull requests merged in 2024-02, with the labels that each got.

#50 HYDRA-777 : Clean test files and separate interactive and non interactive tests
  test/lib/CMakeLists.txt
  test/lib/mayaUsd/CMakeLists.txt
  test/lib/mayaUsd/render/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
Labels: ready-for-merge, test

#46 HYDRA-801 : Add a test for Usd stages variants
  test/lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/StageVariantsTest/oneCube.png
  test/lib/mayaUsd/render/mayaToHydra/StageVariantsTest/oneCubeInstanceable.png
  test/lib/mayaUsd/render/mayaToHydra/StageVariantsTest/threeCubes.png
  test/lib/mayaUsd/render/mayaToHydra/StageVariantsTest/threeCubesInstanceable.png
  test/lib/mayaUsd/render/mayaToHydra/StageVariantsTest/threeCubesWithDisplacement.png
  test/lib/mayaUsd/render/mayaToHydra/StageVariantsTest/twoCubes.png
  test/lib/mayaUsd/render/mayaToHydra/StageVariantsTest/twoCubesInstanceable.png
  test/lib/mayaUsd/render/mayaToHydra/testStageVariants.py
  test/testSamples/testStageVariants/testStageVariants.ma
  test/testSamples/testStageVariants/variants.usda
Labels: ready-for-merge, test

#38 HYDRA-691 : Move mayaUsd code for managing stages inside mayaHydra
  CMakeLists.txt
  build.py
  cmake/modules/FindMayaUsd.cmake
  cmake/test.cmake
  doc/build.md
  lib/flowViewport/API/fvpDataProducerSceneIndexInterface.h
  lib/flowViewport/API/fvpFilteringSceneIndexClient.h
  lib/flowViewport/API/interfacesImp/fvpDataProducerSceneIndexInterfaceImp.cpp
  lib/flowViewport/API/interfacesImp/fvpDataProducerSceneIndexInterfaceImp.h
  lib/flowViewport/API/perViewportSceneIndicesData/fvpDataProducerSceneIndexDataAbstractFactory.h
  lib/flowViewport/API/perViewportSceneIndicesData/fvpDataProducerSceneIndexDataBase.cpp
  lib/flowViewport/API/perViewportSceneIndicesData/fvpDataProducerSceneIndexDataBase.h
  lib/flowViewport/API/perViewportSceneIndicesData/fvpViewportInformationAndSceneIndicesPerViewportData.cpp
  lib/flowViewport/API/samples/fvpDataProducerSceneIndexExample.cpp
  lib/flowViewport/CMakeLists.txt
  lib/mayaHydra/hydraExtensions/CMakeLists.txt
  lib/mayaHydra/hydraExtensions/sceneIndex/CMakeLists.txt
  lib/mayaHydra/hydraExtensions/sceneIndex/mayaHydraMayaDataProducerSceneIndexData.cpp
  lib/mayaHydra/hydraExtensions/sceneIndex/mayaHydraMayaDataProducerSceneIndexData.h
  lib/mayaHydra/hydraExtensions/sceneIndex/mayaHydraMayaDataProducerSceneIndexDataConcreteFactory.cpp
  lib/mayaHydra/hydraExtensions/sceneIndex/mayaHydraMayaDataProducerSceneIndexDataConcreteFactory.h
  lib/mayaHydra/hydraExtensions/sceneIndex/mhMayaUsdProxyShapeSceneIndex.cpp
  lib/mayaHydra/hydraExtensions/sceneIndex/mhMayaUsdProxyShapeSceneIndex.h
  lib/mayaHydra/hydraExtensions/sceneIndex/registration.cpp
  lib/mayaHydra/hydraExtensions/sceneIndex/registration.h
  lib/mayaHydra/mayaPlugin/plugRegistryHelper.cpp
  lib/mayaHydra/mayaPlugin/plugin.cpp
  lib/mayaHydra/mayaPlugin/renderOverride.cpp
  lib/mayaHydra/mayaPlugin/renderOverride.h
  lib/mayaHydra/ufeExtensions/CMakeLists.txt
  lib/mayaHydra/ufeExtensions/Global.cpp
  lib/mayaHydra/ufeExtensions/Global.h
  test/lib/CMakeLists.txt
  test/lib/mayaUsd/render/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/MayaUsdAPIUsageTest/mayaUsdAPI_DirectionalLight.png
  test/lib/mayaUsd/render/mayaToHydra/MayaUsdAPIUsageTest/mayaUsdAPI_TransformMoved.png
  test/lib/mayaUsd/render/mayaToHydra/MayaUsdAPIUsageTest/mayaUsdAPI__NodeDeleted.png
  test/lib/mayaUsd/render/mayaToHydra/MayaUsdAPIUsageTest/mayaUsdAPI__NodeDeletedRedo.png
  test/lib/mayaUsd/render/mayaToHydra/MayaUsdAPIUsageTest/mayaUsdAPI__NodeDeletedUndo.png
  test/lib/mayaUsd/render/mayaToHydra/MayaUsdAPIUsageTest/mayaUsdAPI__NodeDeletedUndoAgain.png
  test/lib/mayaUsd/render/mayaToHydra/MayaUsdAPIUsageTest/mayaUsdAPI__NodeHidden.png
  test/lib/mayaUsd/render/mayaToHydra/MayaUsdAPIUsageTest/mayaUsdAPI__NodeMovedAfterDeletionAndUndo.png
  test/lib/mayaUsd/render/mayaToHydra/MayaUsdAPIUsageTest/mayaUsdAPI__NodeUnhidden.png
  test/lib/mayaUsd/render/mayaToHydra/MayaUsdAPIUsageTest/mayaUsdAPI__VP2AndThenBackToStorm.png
  test/lib/mayaUsd/render/mayaToHydra/testMayaUsdAPIUsage.py
  test/testSamples/testMayaUsdAPIUsage/UsdStageWithSphereMatXStdSurf.ma
  test/testSamples/testMayaUsdAPIUsage/UsdStageWithSphereMatXStdSurf.usd
Labels: ready-for-merge, core

#55 Adjust image diff threshold for testMayaLights
  test/lib/mayaUsd/render/mayaToHydra/testMayaLights.py
Labels: ready-for-merge, test

#42 HYDRA-747 : Filtering scene index example can have prims get unfiltered at the wrong location
  lib/flowViewport/API/samples/fvpFilteringSceneIndexExample.cpp
  lib/flowViewport/API/samples/fvpFilteringSceneIndexExample.h
  test/lib/mayaUsd/render/mayaToHydra/FlowViewportAPITest/filter_VP2AndThenBackToStorm_MovedSphereUnFiltered.png
  test/lib/mayaUsd/render/mayaToHydra/testFlowViewportAPI.py
Labels: bug, ready-for-merge

#53 HYDRA-813 - add test for usd lights
  test/lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/USDLightsTest/allLights.png
  test/lib/mayaUsd/render/mayaToHydra/testUSDLights.py
  test/testSamples/testUSDLights/UsdStageWithSphereMatXStdSurf.usd
  test/testSamples/testUSDLights/testUSDLights.ma
Labels: ready-for-merge, test

#56 HYDRA-795 - add test to cover arnold lights
  test/lib/mayaUsd/render/mayaToHydra/ArnoldLightsTest/allLights.png
  test/lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/testArnoldLights.py
  test/testSamples/testArnoldLights/UsdStageWithSphereMatXStdSurf.usd
  test/testSamples/testArnoldLights/sky.hdr
  test/testSamples/testArnoldLights/testArnoldLights.ma
  test/testUtils/mtohUtils.py
Labels: ready-for-merge, test

#54 HYDRA-780 : Image-based NURBS unit test
  test/lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/NurbsPrimitivesTest/circle_fresh.png
  test/lib/mayaUsd/render/mayaToHydra/NurbsPrimitivesTest/circle_modified.png
  test/lib/mayaUsd/render/mayaToHydra/NurbsPrimitivesTest/circle_tolerance.png
  test/lib/mayaUsd/render/mayaToHydra/NurbsPrimitivesTest/circle_unfixedCenter.png
  test/lib/mayaUsd/render/mayaToHydra/NurbsPrimitivesTest/cube_fresh.png
  test/lib/mayaUsd/render/mayaToHydra/NurbsPrimitivesTest/cube_modified.png
  test/lib/mayaUsd/render/mayaToHydra/NurbsPrimitivesTest/square_fresh.png
  test/lib/mayaUsd/render/mayaToHydra/NurbsPrimitivesTest/square_modified.png
  test/lib/mayaUsd/render/mayaToHydra/NurbsPrimitivesTest/torus_fresh.png
  test/lib/mayaUsd/render/mayaToHydra/NurbsPrimitivesTest/torus_modified.png
  test/lib/mayaUsd/render/mayaToHydra/NurbsPrimitivesTest/torus_tolerance.png
  test/lib/mayaUsd/render/mayaToHydra/testNurbsPrimitives.py
  test/testUtils/fixturesUtils.py
  test/testUtils/mtohUtils.py
Labels: ready-for-merge, test

#59 HYDRA-582 - add test for standard surface
  test/lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/StandardSurfaceTest/default.png
  test/lib/mayaUsd/render/mayaToHydra/StandardSurfaceTest/diffuseRoughness.png
  test/lib/mayaUsd/render/mayaToHydra/StandardSurfaceTest/emission.png
  test/lib/mayaUsd/render/mayaToHydra/StandardSurfaceTest/metalness.png
  test/lib/mayaUsd/render/mayaToHydra/StandardSurfaceTest/specularIOR.png
  test/lib/mayaUsd/render/mayaToHydra/StandardSurfaceTest/specularRoughness.png
  test/lib/mayaUsd/render/mayaToHydra/StandardSurfaceTest/transmission.png
  test/lib/mayaUsd/render/mayaToHydra/testStandardSurface.py
  test/testSamples/testStandardSurface/diffuse.png
  test/testSamples/testStandardSurface/testStandardSurface.ma
Labels: test

#64 HYDRA-814 : Use RootOverridesSceneIndex to simplify data producer scene indices
  lib/flowViewport/API/fvpDataProducerSceneIndexInterface.h
  lib/flowViewport/API/interfacesImp/fvpDataProducerSceneIndexInterfaceImp.cpp
  lib/flowViewport/API/interfacesImp/fvpDataProducerSceneIndexInterfaceImp.h
  lib/flowViewport/API/perViewportSceneIndicesData/fvpDataProducerSceneIndexDataBase.cpp
  lib/flowViewport/API/perViewportSceneIndicesData/fvpDataProducerSceneIndexDataBase.h
  lib/flowViewport/sceneIndex/CMakeLists.txt
  lib/flowViewport/sceneIndex/fvpParentDataModifierSceneIndex.cpp
  lib/flowViewport/sceneIndex/fvpParentDataModifierSceneIndex.h
  lib/mayaHydra/hydraExtensions/sceneIndex/registration.cpp
Labels: ready-for-merge, fvp-toolkit

#63 Maya is no longer using a Preview Release number
  cmake/modules/FindMaya.cmake
  test/testUtils/mayaUtils.py
Labels: ready-for-merge, test

#57 HYDRA-781 : Image-based polygon primitives tests
  test/lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/cube_fresh.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/cube_modified.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/cylinder_fresh.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/cylinder_modified.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/cylinder_roundCap.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/cylinder_roundCapHeightCompensation.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/disc_fresh.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/disc_subdivision_caps.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/disc_subdivision_circle.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/disc_subdivision_pie.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/disc_subdivision_quads.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/disc_subdivision_triangles.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/gear_fresh.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/gear_modified.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/helix_clockwise.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/helix_fresh.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/helix_modified.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/helix_roundCap.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/pipe_fresh.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/pipe_modified.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/pipe_roundCap.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/pipe_roundCapHeightCompensation.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/platonic_cube_triangles.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/platonic_dodecahedron_caps.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/platonic_fresh.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/platonic_icosahedron_triangles.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/platonic_octahedron_pie.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/platonic_tetrahedron_quads.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/prism_5sides.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/prism_8sides.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/prism_fresh.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/pyramid_3sides.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/pyramid_4sides.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/pyramid_5sides.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/pyramid_fresh.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/soccerball_fresh.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/soccerball_modified.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/sphericalHarmonics_fresh.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/sphericalHarmonics_helix.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/sphericalHarmonics_modified.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/superEllipse_fresh.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/superEllipse_helix.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/superEllipse_mirror.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/superEllipse_modified.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/torus_fresh.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/torus_modified.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/ultra_fresh.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/ultra_helix.png
  test/lib/mayaUsd/render/mayaToHydra/PolygonPrimitivesTest/ultra_modified.png
  test/lib/mayaUsd/render/mayaToHydra/testArnoldLights.py
  test/lib/mayaUsd/render/mayaToHydra/testMayaLights.py
  test/lib/mayaUsd/render/mayaToHydra/testPolygonPrimitives.py
  test/lib/mayaUsd/render/mayaToHydra/testUSDLights.py
  test/testUtils/fixturesUtils.py
Labels: ready-for-merge, test

#65 Add code coverage build support.
  CMakeLists.txt
  build.py
  cmake/compiler_config.cmake
  cmake/modules/FindMaya.cmake
  cmake/utils.cmake
  lib/flowViewport/API/interfacesImp/fvpFilteringSceneIndexInterfaceImp.cpp
  lib/flowViewport/API/perViewportSceneIndicesData/fvpDataProducerSceneIndexDataBase.cpp
  lib/flowViewport/API/perViewportSceneIndicesData/fvpDataProducerSceneIndexDataBase.h
  lib/flowViewport/API/perViewportSceneIndicesData/fvpFilteringSceneIndicesChainManager.cpp
  lib/flowViewport/API/perViewportSceneIndicesData/fvpViewportInformationAndSceneIndicesPerViewportDataManager.cpp
  lib/flowViewport/API/samples/fvpDataProducerSceneIndexExample.cpp
  lib/flowViewport/API/samples/fvpFilteringSceneIndexExample.cpp
  lib/flowViewport/API/samples/fvpFilteringSceneIndexExample.h
  lib/flowViewport/CMakeLists.txt
  lib/flowViewport/fvpUtils.cpp
  lib/flowViewport/fvpUtils.h
  lib/flowViewport/sceneIndex/CMakeLists.txt
  lib/flowViewport/sceneIndex/fvpPathInterfaceSceneIndex.cpp
  lib/flowViewport/sceneIndex/fvpPathInterfaceSceneIndex.h
  lib/flowViewport/sceneIndex/fvpSceneIndexUtils.cpp
  lib/flowViewport/sceneIndex/fvpSceneIndexUtils.h
  lib/flowViewport/sceneIndex/fvpSelectionSceneIndex.cpp
  lib/flowViewport/sceneIndex/fvpSelectionSceneIndex.h
  lib/flowViewport/sceneIndex/fvpWireframeSelectionHighlightSceneIndex.cpp
  lib/flowViewport/sceneIndex/fvpWireframeSelectionHighlightSceneIndex.h
  lib/mayaHydra/flowViewportAPIExamples/flowViewportAPIMayaLocator/CMakeLists.txt
  lib/mayaHydra/hydraExtensions/CMakeLists.txt
  lib/mayaHydra/hydraExtensions/mayaHydraSceneProducer.cpp
  lib/mayaHydra/hydraExtensions/mayaHydraSceneProducer.h
  lib/mayaHydra/hydraExtensions/sceneIndex/mhMayaUsdProxyShapeSceneIndex.cpp
  lib/mayaHydra/hydraExtensions/sceneIndex/mhMayaUsdProxyShapeSceneIndex.h
  lib/mayaHydra/hydraExtensions/sceneIndex/registration.cpp
  lib/mayaHydra/mayaPlugin/CMakeLists.txt
  lib/mayaHydra/mayaPlugin/renderOverride.cpp
  lib/mayaHydra/ufeExtensions/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/testMeshes.py
  test/testUtils/mtohUtils.py
Labels: ready-for-merge

#72 HYDRA-833 - Maya MaterialX material bindings on Maya geometry
  lib/mayaHydra/hydraExtensions/adapters/materialAdapter.cpp
  test/lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/MaterialXOnNativeTest/RedMtlxSphere.png
  test/lib/mayaUsd/render/mayaToHydra/testMaterialXOnNative.py
  test/testSamples/testMaterialX/RedMtlxSphere.ma
Labels: ready-for-merge

#73 HYDRA-805 - add test for look through camera&lights
  test/lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/LookThroughTest/default.png
  test/lib/mayaUsd/render/mayaToHydra/LookThroughTest/lookThroughAreaLight.png
  test/lib/mayaUsd/render/mayaToHydra/LookThroughTest/lookThroughCamera.png
  test/lib/mayaUsd/render/mayaToHydra/LookThroughTest/lookThroughSpotLight.png
  test/lib/mayaUsd/render/mayaToHydra/testLookThrough.py
  test/testSamples/testLookThrough/testLookThrough.ma
  test/testSamples/testStandardSurface/testStandardSurface.ma
Labels: ready-for-merge, test

#60 HYDRA-783 : Curve tools unit tests
  test/lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/CurveToolsTest/curveControlVertices_basic.png
  test/lib/mayaUsd/render/mayaToHydra/CurveToolsTest/curveControlVertices_bezier.png
  test/lib/mayaUsd/render/mayaToHydra/CurveToolsTest/curveControlVertices_customKnots.png
  test/lib/mayaUsd/render/mayaToHydra/CurveToolsTest/curveControlVertices_degree1.png
  test/lib/mayaUsd/render/mayaToHydra/CurveToolsTest/curveControlVertices_degree2.png
  test/lib/mayaUsd/render/mayaToHydra/CurveToolsTest/curveControlVertices_degree5.png
  test/lib/mayaUsd/render/mayaToHydra/CurveToolsTest/curveEditPoints_basic.png
  test/lib/mayaUsd/render/mayaToHydra/CurveToolsTest/curveEditPoints_bezier.png
  test/lib/mayaUsd/render/mayaToHydra/CurveToolsTest/curveEditPoints_degree1.png
  test/lib/mayaUsd/render/mayaToHydra/CurveToolsTest/curveEditPoints_degree2.png
  test/lib/mayaUsd/render/mayaToHydra/CurveToolsTest/curveEditPoints_degree5.png
  test/lib/mayaUsd/render/mayaToHydra/CurveToolsTest/threePointCircularArc_cubic.png
  test/lib/mayaUsd/render/mayaToHydra/CurveToolsTest/threePointCircularArc_fresh.png
  test/lib/mayaUsd/render/mayaToHydra/CurveToolsTest/threePointCircularArc_linear.png
  test/lib/mayaUsd/render/mayaToHydra/CurveToolsTest/twoPointCircularArc_cubic.png
  test/lib/mayaUsd/render/mayaToHydra/CurveToolsTest/twoPointCircularArc_fresh.png
  test/lib/mayaUsd/render/mayaToHydra/CurveToolsTest/twoPointCircularArc_linear.png
  test/lib/mayaUsd/render/mayaToHydra/CurveToolsTest/twoPointCircularArc_toggleArc.png
  test/lib/mayaUsd/render/mayaToHydra/testCurveTools.py
Labels: ready-for-merge, test

#78 HYDRA-809: Add Unit Test for Isolate Select for Maya data
  test/lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/MayaIsolateSelectTest/default.png
  test/lib/mayaUsd/render/mayaToHydra/MayaIsolateSelectTest/isolateSelect.png
  test/lib/mayaUsd/render/mayaToHydra/testMayaIsolateSelect.py
Labels: ready-for-merge, test

#76 HYDRA-811 - add test for template and reference
  test/lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/TemplateAndReferenceTest/default.png
  test/lib/mayaUsd/render/mayaToHydra/TemplateAndReferenceTest/referenceMode.png
  test/lib/mayaUsd/render/mayaToHydra/TemplateAndReferenceTest/referenceModeSelection.png
  test/lib/mayaUsd/render/mayaToHydra/TemplateAndReferenceTest/templateMode.png
  test/lib/mayaUsd/render/mayaToHydra/TemplateAndReferenceTest/templateModeSelection.png
  test/lib/mayaUsd/render/mayaToHydra/testTemplateAndReference.py
  test/testSamples/testTemplateAndReference/testTemplateAndReference.ma
Labels: ready-for-merge, test

#82 HYDRA-796: Readme.md update
  README.md
  README_DOC.md
Labels: documentation, ready-for-merge

#86 Minor code coverage documentation fixes.
  doc/codeCoverageInstructions.md
Labels: documentation, ready-for-merge

#87 HYDRA-902 : Add LookdevX support for test framework
  build.py
  cmake/test.cmake
Labels: ready-for-merge, build

#68 HYDRA-859 : Fix Mayausd.mod file not being present in downloaded build.
  cmake/modules/FindMayaUsd.cmake
  cmake/test.cmake
  cmake/utils.cmake
  lib/mayaHydra/mayaPlugin/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/testMayaUsdAPIUsage.py
Labels: ready-for-merge, fvp-toolkit

#84 Made proxy shape scene index prefixes unique, and support rename / reparent
  lib/mayaHydra/hydraExtensions/hydraUtils.cpp
  lib/mayaHydra/hydraExtensions/hydraUtils.h
  lib/mayaHydra/hydraExtensions/sceneIndex/registration.cpp
  lib/mayaHydra/hydraExtensions/sceneIndex/registration.h
  test/lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/cpp/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/cpp/mayaHydraCppTestsCmd.cpp
  test/lib/mayaUsd/render/mayaToHydra/cpp/testPathInterface.cpp
  test/lib/mayaUsd/render/mayaToHydra/cpp/testPathInterface.py
  test/lib/mayaUsd/render/mayaToHydra/cpp/testUtils.cpp
  test/lib/mayaUsd/render/mayaToHydra/cpp/testUtils.h
  test/lib/mayaUsd/render/mayaToHydra/testStageVariants.py
Labels: ready-for-merge

#89 HYDRA-803 - add test for payload & reference
  test/lib/mayaUsd/render/mayaToHydra/CMakeLists.txt
  test/lib/mayaUsd/render/mayaToHydra/StagePayloadsReferencesTest/cubeLoadWithDescendants.png
  test/lib/mayaUsd/render/mayaToHydra/StagePayloadsReferencesTest/cubeLoaded.png
  test/lib/mayaUsd/render/mayaToHydra/StagePayloadsReferencesTest/cubeUnloaded.png
  test/lib/mayaUsd/render/mayaToHydra/StagePayloadsReferencesTest/cubeUnloadedRedo.png
  test/lib/mayaUsd/render/mayaToHydra/StagePayloadsReferencesTest/cubeUnloadedUndo.png
  test/lib/mayaUsd/render/mayaToHydra/StagePayloadsReferencesTest/initialState.png
  test/lib/mayaUsd/render/mayaToHydra/StagePayloadsReferencesTest/payloadSceneLoadedPotA.png
  test/lib/mayaUsd/render/mayaToHydra/StagePayloadsReferencesTest/payloadSceneLoadedPotB.png
  test/lib/mayaUsd/render/mayaToHydra/StagePayloadsReferencesTest/referencesSceneCreated.png
  test/lib/mayaUsd/render/mayaToHydra/StagePayloadsReferencesTest/referencesSceneLoaded.png
  test/lib/mayaUsd/render/mayaToHydra/testStagePayloadsReferences.py
  test/testSamples/testStagePayloadsReferences/FlowerPot.geom.usd
  test/testSamples/testStagePayloadsReferences/FlowerPot.ma
  test/testSamples/testStagePayloadsReferences/FlowerPot.usda
  test/testSamples/testStagePayloadsReferences/FlowerPot_payload.usda
  test/testSamples/testStagePayloadsReferences/References.ma
  test/testSamples/testStagePayloadsReferences/cone.usda
  test/testSamples/testStagePayloadsReferences/cube.usda
  test/testSamples/testStagePayloadsReferences/cube1.usda
  test/testSamples/testStagePayloadsReferences/cylinder.usda
  test/testSamples/testStagePayloadsReferences/referencesExample.usda
  test/testSamples/testStagePayloadsReferences/sphere.usda
Labels: ready-for-merge, test
